@model MvcMusicStore.Models.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (@Model != null)
{
    <div class="row">
        <p class="value">@Model.Title</p>
    </div>
    <div class="row">
        <label>Artist: </label> @Model.Artist.Name

    </div>
    <div class="row">
        <label>Price: </label> @Model.Price

    </div>
    <div class="row">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("AddToCart", "ShoppingCart", new { id = @Model.AlbumId })'">Add to Cart</button>
    </div>
}


